:root {
  --dark-green: #026670;
  --light-green: #9fedd7;
  --green: green;
  --red: #f90303;
  --light-yellow: #fef9c7;
  --dark-yellow: #fce181;
  --beige: #edeae5;
  --white: white;
  --black: black;
  --gray: gray;
  --blue: #2596be;

  --border: solid 1px var(--dark-green);
}

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

header {
  margin-top: 3rem;
  margin-bottom: 2rem;
  margin-left: 9rem;
  display: flex;
  background-color: var(--blue);
}

@media screen and (max-width: 600px) {
  html {
    font-size: 55%;
  }
}

p {
  line-height: 130%;
  font-size: 2rem;
}

h2 {
  font-size: 3rem;
  letter-spacing: 0.3rem;
  color: var(--red);
}

h3 {
  font-size: 2.2rem;
  letter-spacing: 1px;
}

.margin-lr {
  margin-left: 2rem;
  margin-right: 2rem;
}

.margin-tb {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.center-content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pad-cont {
  padding: 2rem;
}

.current-page {
  color: var(--blue);
}

.title {
  display: flex;
  justify-content: center;
}

.main-title {
  font-size: 4rem;
  align-self: flex-end;
  color: var(--white);
  margin-left: 13rem;
}

@media screen and (max-width: 900px) {
  .main-title {
    font-size: 3rem;
  }
}

.buy-btn {
  background-color: var(--red);
  width: 200px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  border: solid var(--red) 2px;
}

.buy-btn:hover {
  background-color: var(--white);
  color: red;
}

@media screen and (max-width: 600px) {
  .top {
    display: none;
  }
}

.top {
  margin-left: auto;
  margin-top: 2rem;
  margin-right: 2rem;
}

@media screen and (max-width: 1000px) {
  .header-nav {
    flex: 1 1 200px;
  }
}

@media screen and (max-width: 600px) {
  .header-nav {
    margin-bottom: 2rem;
    flex: 1 1 500px;
    display: flex;
    justify-content: flex-end;
  }
}

.pad-logo,
.pad-logo::before {
  position: absolute;
  top: 2rem;
  left: 0;
  height: 20rem;
  border-radius: 50%;
  border: solid var(--white) 2rem;
  background-image: var(--white);
  content: "";
  display: block;
}

.divider {
  border-top: solid var(--gray) 1px;
}

.open-menu-btn,
.close-menu-btn {
  border: none;
  background: transparent;
}

.close-menu-btn {
  flex: 1;
  display: flex;
  justify-content: end;
}

.cross-icon {
  height: 2rem;
  width: 2rem;
  fill: var(--blue);
}

.menu-icon {
  fill: var(--blue);
  height: 4rem;
  width: 4rem;
}

.menu-icon:hover,
.cross-icon:hover {
  fill: var(--red);
}

.header-nav-container {
  margin-left: 2rem;
  margin-right: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.subheading {
  margin-left: 22rem;
}

@media screen and (max-width: 600px) {
  .header-nav-container {
    justify-content: end;
  }

  .subheading {
    text-align: center;
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

a {
  color: var(--black);
  border: none;
  font-size: 1.8rem;
  font-weight: 300;
  text-decoration: none;
}

a:hover {
  color: var(--red);
}

a:active {
  color: var(--red);
}

.footer-nav-container {
  height: 10vh;
  background-color: var(--gray);
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.footer-nav {
  color: var(--dark-yellow);
}

.slideshow-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.slideshow {
  display: grid;
  grid-auto-flow: column;
}

.view-window {
  height: 56vh;
  width: 40vw;
  overflow: hidden;
}

.view-window:not(:last-child) {
  margin-right: 5rem;
}

.slide {
  object-fit: cover;
  height: 50vh;
  width: 40vw;
}

.picture-title {
  background-color: var(--blue);
  height: 6vh;
  color: var(--white);
  margin: 0;
  padding-left: 1rem;
  display: flex;
  align-items: center;
}
